
@import "shared.css";

:root {
  --flag-colour: gold;
  --flag-border-size: 3px;
}

body {
  line-height: 1.4;
  font-size: 1.2rem;
}
.nav-back {
  max-width: var(--spec-width);
  margin: auto;
  text-transform: uppercase;
  text-align: right;
}
main {
  max-width: var(--spec-width);
}
header {
  padding: 4rem 0 1rem 0.5rem;
}
h1 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0.5rem 0;
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 5px;
}
header th {
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  vertical-align: top;
}
header td {
  padding-left: 1rem;
}
header table p {
  margin: 0;
}
section, ul, ol {
  margin: 0 1rem 1rem 1rem;
  max-width: 70ch;
}
section section {
  margin: 0 0 1rem 0;
}
ul, ol {
  padding-left: 1rem;
  max-width: calc(70ch - 1rem);
}
ul > li {
  list-style-type: square;
}
dt {
  font-weight: bold;
}
h2 {
  font-weight: 400;
  font-size: var(--header-font-size);
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-transform: uppercase;
}
h3 {
  margin-bottom: 0;
}
h3 + p {
  margin-top: 0;
}
header table a, a.ref {
  text-decoration: none;
}
a.dfn-ref {
  text-decoration-color: var(--purple);
  /* text-decoration-thickness: 1px; */
  color: inherit;
}
pre {
  /* white-space: pre-wrap; */
  overflow: auto;
}
div.flag {
  border: var(--flag-border-size) solid var(--flag-colour);
  padding: 1rem;
  position: relative;
  margin-top: 3rem;
}
div.flag::before {
  content: "Issue";
  display: block;
  position: absolute;
  top: -2.4rem;
  background: var(--flag-colour);
  left: calc(-1 * var(--flag-border-size));
  border: var(--flag-border-size) solid var(--flag-colour);
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  line-height: 1;
}
dt {
  font-weight: bold;
}
section table {
  border-collapse: collapse;
  margin: 1rem 0;
}
section th, section td {
  border: 3px solid #000;
  padding: 0.5rem 1rem;
  text-align: left;
}
section th {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}

@media only screen and (max-width:800px) {
  header table, header tr, header th, header td {
    display: block;
  }
  .nav-back {
    font-size: 1rem;
  }
}
